#foreground{
 	background-color: rgba(0,0,0,0);

}

.footer{

	display: none;
}


.collage-unfinished{
	opacity: 0;
}

.galereya-cell-desc{
	display: none;
}

.galereya-cell-overlay{
  cursor: default;
}

@media (min-width: 993px){
	#spinner{
	  background-color: rgba(250,250,250,.7);
	  border-radius: 5px;
	 }
}

.galereya-cell{
  margin-bottom: 3em !important;
}