@import url('https://www.fontify.me/wf/67f71f9c2e69a40040a733305c634620');

@font-face{
	font-family: "header";
	src: url(../fonts/blackjack.otf);
}



.display-none{
	display: none;
}

.hidden{
	visibility: hidden;
}



body{
	/*background-image: url("/img/background/orange_fur.jpg");*/
	/*background-image: url("https://c1.staticflickr.com/2/1606/26014516483_3840074454_b.jpg");*/
	/*background-image: url("http://www.publicdomainpictures.net/pictures/40000/velka/deer-fur.jpg");*/
	/*background-image: url("/img/background/white_fur.jpg");*/
	/*background-image: url("https://static.pexels.com/photos/115011/cat-face-close-view-115011.jpeg");*/
	/*background-image: url("https://static.pexels.com/photos/18537/pexels-photo.jpg");*/
	background-image: url("/img/background/cat.jpg");
	background-size: 100%;
	background-attachment: fixed;
}


#foreground {
	font-family: font87042;
	font-size: 1.2em;
	margin: 3em 20%;
	padding: 0;
	background-color: rgba(238, 233, 233, .88);
	border: 15px solid rgba(238, 233, 233, 0);
}

/*
#header-container{
  padding: 3px;
  padding-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(14, 129, 179);
}
*/



@media (max-width: 992px){
	body{
		background-image: none;
	}
	#foreground{
		margin: 0;
		border: 0;
	}
	#header-container{
	  padding: 0;
	  border-radius: 0;
	}
}

#main-content{
	padding: 0;
}

#main-content a{
	font-weight: bold;
  color: rgb(113, 191, 69);
  text-decoration: underline;
}

#main-content a:hover{
  color: rgba(113, 191, 69, .5);
}

h1, h2, #ninja-slider .caption{
	font-family: "header";
}

h1, h2, h3, h4 {
	color: rgb(113, 191, 69);
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.footer{
  border-top: 1px solid #aaa;
  margin: 1em 2em;
  padding: 1em;
  text-align: center;
  color: #666;
}

img.xs-logo{
	margin-top: 1em;
}


/*Your design*/
.comfy-list li{
	margin-top: .5em;
	margin-bottom: .5em;
}
figure{
	margin-top: 1em;
	margin-bottom: 1em;
}


/*Purchase */
#credit-cards{
	margin-top: 2em;
  display: flex;  
  align-items: center;
}




