html{
	color: transparent;
}

body{
	background-image: url("http://www.publicdomainpictures.net/pictures/140000/velka/cat-fur-2.jpg");
}

#foreground {
	margin: 3em 7em;
	padding: 0;
	border-radius: 5px;
	background-color: #fff;
}

@media (max-width: 768px){
	#foreground{
		margin: 0;
		border-radius: 0;
	}
}

#main-content{
	padding: 0;
}

#ninja-slider-container{
	width: 100%;
	background-color: #111;
	padding: 3em;
}